.material-icon-badge {
	font-size: 1.3rem;
	background-color: #e2e2e2;
	border-radius: 4px;
	padding: 5px 10px;
	font-weight: 700;
	color: #444;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 22px;
	height: 22px;
	line-height: 1;
}
